<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>  
  </head>
  <body>
      
      <p>Humidity is GOOD. I feel powerful</p>

      <form  class="button_form col-lg-4 col-sm-6"  method="POST" action="3" target="_blank">
        <button  class="btn btn-info" >5-35</button><br><br>
      </form>

      <form  class="button_form col-lg-4 col-sm-6"  method="POST" action="33" target="_blank">
        <button  class="btn btn-info" >76-100<button><br><br>
      </form>

      <img width="100%" height="100%" src="7.png">

  </body>
</html>