<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sensor</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">

</head>

<body>

<div class="fading">
    <img class="logo"  src="../static/logo.gif">
    <h1>Different Ways of sensing</h1>
                <form  method="POST" action="/main">
                    <button  class="btn btn-info" >START NOW</button><br><br>
            </form>
</div>

<section class="context">

  <div class="crawl">
    
      <p>Here are different ways of sensing</p>      
      <p>When a person enters a dark room, when a car gets too close to a wall, when a there is too much humidity in a room for a plant, when a car enters a tunnel</p>

  </div>

</section>

   
</body>
</html>