<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    
    <img class="logo"  src="../static/logo.gif">
    <h1>Different types of sensors</h1>
    
            <form  class="button_form col-lg-4 col-sm-6"  method="POST" action="/1" target="_blank">
                    <input type="image" src="../static/bedroom.gif" ><br><br>
                    <button  class="btn btn-info" >PIR sensor</button><br><br>
            </form>
            

            <form class="button_form col col-lg-4 col-sm-6"  method="POST" action="/2" target="_blank">
                    <input type="image" src="../static/carsensor.gif" ><br><br>
                    <button class="btn btn-danger" >Ultrasonic sensor</button><br><br>
            </form>
     


            <form class="button_form col col-lg-4 col-sm-6"  method="POST" action="/3" target="_blank">
                    <input type="image" src="../static/plantgrow.gif" ><br><br>
                    <button class="btn btn-info" >Temperature sensor</button><br><br>
            </form>
        
        
            
            <form class="button_form col col-lg-4 col-sm-6" method="POST" action="/4" target="_blank">
                    <input type="image" src="../static/car headlight.gif" ><br><br>
                    <button class="btn btn-warning">LDR sensor</button><br><br>
            </form>

</body>
</html>